.centerDetails{
	float : left;
	padding-left : 100px;
	padding-right : 60px;
	padding-bottom : 50px;
	order : 1;
}
.centerDetails p{
	font-size : 24px;
	text-align : justify;
}
.centerDetails h1{
	font-size: 50px;
}
.abbottabadOneImages{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 92%;
}
.abbottabadOneImages img{
	width : 1000px;
	height : 800px;
}
.abbottabadtwoImages{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 85%;
}
.abbottabadtwoImages img{
	width : 450px;
	height : 450px;
}