.centerDetails{
	float : left;
	padding-left : 100px;
	padding-right : 60px;
	padding-bottom : 50px;
	order : 1;
}
.centerDetails p{
	font-size : 24px;
	text-align :justify;
}
.centerDetails h1{
	text-align:center;
	font-size: 50px;
}
.centerDetails img{
	width : 1000px;
	height : 600px;
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}
