.centerDetails{
	float : left;
	padding-left : 100px;
	padding-right : 60px;
	padding-bottom : 50px;
	order : 1;
}
.centerDetails p{
	font-size : 24px;
	text-align : justify;
}
.centerDetails h1{
	text-align:center;
	font-size: 50px;
}
.naranTopPicSpan img{
	width : 1000px;
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}
.TourinNaranImg{
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 84%;
}
.TourinNaranImg img{
	HEIGHT : 300PX;
WIDTH : 300PX;
}
.SafulMalukImg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 92%;
}
.SafulMalukImg img{
	width : 500px;
	height : 500px;
}
.SafulMaluk2{
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 92%;
}
.SafulMaluk2 img{
	width : 250px;
	height : 250px;
}
.DudipatsarLake img{
	width:1250px;
	height :600px;
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}
.DudipatsarLake2{
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 92%;
}
.DudipatsarLake2 img{
	width:250px;
	height :250px;
}