.centerDetails form{
	text-align:center;
	font-size : 20px;
}
.centerDetails input{
	width: 300px;
	height : 30px;
}
.centerDetailsForm {
	
	padding-top : 19px;
}
.centerDetails button{
  background-color: #333;
  text-align: center;
  border: none;
  padding-left : 14px;
  font-size : 20px;
  text-align : center;
  color:white;
}
/* Change the color of links on hover */
.centerDetails button:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.centerDetails button.active {
  background-color: #04AA6D;
  color: white;
}
.LoginButtton {
	padding:1em;
    text-align: center;
    display:inline-block;
    text-decoration: none !important;
    margin:0 auto;
}
/* Style the links inside the navigation bar */
.LoginButtton a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 40px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.LoginButtton a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.LoginButtton a.active {
  background-color: #04AA6D;
  color: white;
}