body {
  display: flex;
  flex-direction:column;
}			
.topnav {
  background-color: #333;
  overflow: hidden;
}
/* IMAGE ON NIVAGATION BAR*/
.topnav img{
	float: left;
	height : 48px;
}
/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 40px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
.activePage a{
	color : tomato;
}
.bottomDetails{
	text-align: center;
	background-color: #333;
	order : 2;
}
.bottomDetails hr{
	color: white;
}
.bottomDetails input{
height:25px;
width :300px;
}
.bottomDetails button{
background-color: #333;
  text-align: center;
   border: none;
  padding-left : 14px;
  font-size : 20px;
  text-align : center;
  color:white;
}
/* Change the color of links on hover */
.bottomDetails button:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.bottomDetails button.active {
  background-color: #04AA6D;
  color: white;
}
