.topBeautyImage{
	float: left;
	padding-top : 10PX;
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 79%;
}
/*IMAGE SIZE AND WIDTH*/
.topBeautyImage img{
	height: 300px;
	width : 500px;
}
.centerdetails{
	float : left;
	padding-left : 100px;
	padding-right : 60px;
	padding-bottom : 50px;
	order : 1;
}
.centerdetails img{
	height : 300px;
	width : 500 px;
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.centerdetails p{
	font-size : 24px;
	text-align : justify;
}
