.centerDetails{
	text-align: center;
}
.centerDetails img{
	padding-top:30px;
	padding-bottom:50px;
	height: 200px
}
.centerDetails form{
	font-size : 20px;
}
.centerDetails input{
	width: 300px;
	height : 30px;
}
.centerDetailsForm {
	padding-top : 9px;
}
.centerDetails button{
  background-color: #333;
  text-align: center;
  border: none;
  padding-left : 14px;
  font-size : 20px;
  text-align : center;
  color:white;
}
/* Change the color of links on hover */
.centerDetails button:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.centerDetails button.active {
  background-color: #04AA6D;
  color: white;
}
.SignUpButtton {
  padding:1em;
    text-align: center;
    display:inline-block;
    text-decoration: none !important;
    margin:0 auto;
}
/* Style the links inside the navigation bar */
.SignUpButtton a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 40px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.SignUpButtton a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.SignUpButtton a.active {
  background-color: #04AA6D;
  color: white;
}